/* regole generali */


*{
    font-family: Arial, Helvetica, sans-serif;
}


/* regole header */

header {
    background-image: url(../img/pattern.png);
    background-color: lightblue;
    background-size: contain;
    background-repeat: repeat;
}

#logo {
    width: 250px;
}

/* regole body */

.evi { 
    background:#FFFF00;

}

#autore {
    color: blue;
}

#fotodescription {
    font-size: 10px;
}

/* regole tabella */
table {
    border-collapse: collapse;
    table-layout: auto;
}

.tdsmall {
    width: 20%;
}

#colhead {
    background-color: rgb(75, 75, 206);
    text-align: left;
    color: white;
}

.coldisp {
    background-color: aqua;
}