/* regole generali */

/* regole header */

*{
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url(../img/pattern.png);
    background-color: lightblue;
    background-size: contain;
    background-repeat: repeat;
}

#logo {
    width: 250px;
}

/* regole body */
#autore {
    color: blue;
}

#fotodescription {
    font-size: 10px;
}